.header {
    background-color:#48ACF0 ;
    position: sticky;
    top: 0;
}

.menu {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
}

a:hover {
    color: #E0E1DD;
}

body {
   background-color: #48ACF0;
}

.rps {
    display: flex;
    justify-content:flex-start;
    padding: 0% 5%; 
    font-family: 'Gravitas One', cursive;
    font-size: 80px;
    color: #121212;
}

.rules {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 20px 70px 0px;
}

.rules > hgroup > h1 {
    font-size: 25px;
}

.conditions {
    display: flex;
    flex-wrap: nowrap;
    justify-content:flex-start;
    padding: 0% 5%;    
}

.conditions > h1 {
    font-family: 'Gravitas One', cursive;
    font-size: 50px;
    color: #121212;   
}

.linkcontainer {
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0px 50px;
    font-family: 'Gravitas One', cursive;
    font-size: large;
}

.linkcontainer > h2 {
    font-size: x-large;
}

.formcontainer{
    font-family: 'Gravitas One', cursive;
    font-size: x-large;
    padding: 30px 50px; 
}

input[type=text] {
    width: 30%;
    background-color: #E0E1DD;
    font-family:'Poppins', sans-serif; ;
    font-size: large;
    border-color: transparent;
    border-radius: 20px;   
}

select {
    width:30%;
    background-color: #E0E1DD;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    border-color: transparent;
    border-radius: 20px;
    padding: 2px;    
}


input[type=submit] {
    background-color: #E0E1DD;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    width: 100px;
    border-color: transparent;
    border-radius: 20px;
    cursor: pointer;    
}

input[type=submit]:hover {
    background: #E03616;
}

.show_winner {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-family:'Gravitas One', cursive;
    font-size: x-large;
    padding: 5%;
}

.show_winner > #winner {
    color: #E03616;
}

hr {
    border: dashed #4bb3f8;
}


.home-links {
    font-family: 'Gravitas One', cursive;
    font-size: 120px;
    color: #121212;
}

.facts {
    display: flex;
    justify-content:flex-start;
    padding: 0% 5%; 
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
    color: #121212;
    margin-top: 10%;
}
