<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>{{ title }}  Rock Paper Scissor </title>
    </head>
    <body>
        <section>
        <header class = "header">
            <hgroup class="menu">
                <h1><a href="/home">Home</a></h1>
                <h2><a href="/rules">Rules</a></h2>
            <div class="link1">
                <h2><a href="/play">Play</a></h2> 
            </div>
            </hgroup>
            <!-- <nav>
                <ul>
                
                    <li>
                        <a href="/rules">How To Play The Game</a>
                    </li>
               
                <div class="link2"> 
                    <li>
                        <a href="/play">Play Game</a>   
                    </li>
                </div>  
                </ul>  
            </nav> -->
        </header>
        {% block content %}

        {% endblock %}
    </body>
</html>





<!--   -->