{% extends "base.html"%}

{% block content %}

<form action="/play" method="post"> <!-- ADDED -->
    <label for="Name">Name:</label>
    <input type="text" name="name" id="name">

    <label for="choice">Make a choice:</label>
        <select id="choice" name="choice">
          <option value="rock">Rock</option>
          <option value="paper">Paper</option>
          <option value="scissors">Scissors</option>
        </select>



    
    <!-- <textarea name="description" rows="2" cols="30"></textarea> -->
    <input type="submit" value="Go!">
</form>


    
{% endblock %}